{% extends 'layouts/admin.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Whitelist</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h2 class="text-center">Whitelist</h2>
    <p class="text-center">Players count: <b>{{ whitelist.countPlayers }}</b></p>
    <p class="text-center">
        <a href="{{ path('admin.whitelist.add.form') }}" class="btn btn-success">
            Add player
        </a>
    </p>

    <table class="table table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% set players = whitelist.players %}
            {% for player in players %}
                <tr>
                    <td>{{ player.uuid }}</td>
                    <td>{{ player.name }}</td>
                    <td>
                        <form method="POST" action="{{ path('admin.whitelist.remove', {'uuid': player.uuid, 'name': player.name}) }}" id="remove-form">
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(document).on("submit", "#remove-form", function () {
            return confirm('Are you sure? Current player will be removed forever!');
        });
    </script>
{% endblock %}