{% extends 'layouts/admin.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin.home') }}">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">Whitelist</a></li>
    </ol>
{% endblock %}

{% block body %}
    <h2 class="text-center">Whitelist</h2>
    <p class="text-center">Players count: <b>{{ whitelist.countPlayers }}</b></p>
    <p class="text-center">
        <a href="{{ path('admin.whitelist.add.form') }}" class="btn btn-success">
            Add player
        </a>
    </p>
    <p class="text-center">
        You can change player role (permission) only after he went to the server
    </p>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <th>Uuid</th>
                <th>Name</th>
                <th>Xuid</th>
                <th>Role</th>
                <th>Ignore player limits</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set players = whitelist.players %}
            {% for player in players %}
                <tr>
                    <td>{{ player.uuid }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.xuid == '' ? 'Empty' : player.xuid }}</td>
                    <td>{{ player.role ?? 'Default' }}</td>
                    <td>{{ player.ignoresPlayerLimit ? 'True' : 'False' }}</td>
                    <td>
                        <a href="{{ path('admin.whitelist.edit.form', {'uuid': player.uuid}) }}" class="btn btn-primary">
                            Edit
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="{{ path('admin.whitelist.remove', {'uuid': player.uuid, 'name': player.name}) }}" id="remove-form">
                            <button type="submit" class="btn btn-danger">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on("submit", "#remove-form", function () {
            return confirm('Are you sure? Current player will be removed forever!');
        });
    </script>
{% endblock %}