{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <h3 class="text-center">Backups</h3>

    <div class="row">
        <div class="mx-auto">
            <form action="{{ path('admin.backup') }}" method="POST" class="backup-form">
                <button class="btn btn-primary" type="submit">Make backup</button>
            </form>
        </div>
    </div>

    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>Size</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for backup in backups %}
            <tr>
                <td>{{ backup.name }}</td>
                <td>{{ backup.size }} KB</td>
                <td>
                    <form action="{{ path('admin.backup.download') }}" method="POST">
                        <input type="hidden" value="{{ backup.name }}" name="name">
                        <button type="submit" class="btn btn-success">Download</button>
                    </form>
                </td>
                <td>
                    <form action="{{ path('admin.backup.remove') }}" method="POST">
                        <input type="hidden" value="{{ backup.name }}" name="name">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}