{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <a href="{{ path('admin.whitelist.index') }}">Whitelist</a>

    <h2 class="text-center">Properties</h2>
    <table class="table table-condensed table-bordered text-center">
        <thead>
        <tr>
            <th>World name</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ properties[0] }}</td>
            <td>{{ properties[4] }}</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-condensed table-bordered text-center">
        <thead>
        <tr>
            <th>Difficulty</th>
            <th>Max players count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ properties[8] }}</td>
            <td>{{ properties[16] }}</td>
        </tr>
        </tbody>
    </table>

    <br><br>
{% endblock %}